$base: rem(4px);

$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
// $breakpoint-xs-min: 0;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fz-sm: 12px;
$fz-md: 15px;
$fz-ttl-sm: 24px;
$fz-ttl-md: 36px;
$fz-ttl-l: 48px;

$color-white: #fff;
$bg-color: #f5f8ff;
$color-divider: #d8e3fe;
$color-icon_links: #b6bac7;
$color-descr: #8d96bd;
$color-primary: #5e81fe;
$color-ttl: #3d4f9f;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 12;
$padding-vertical: $base * 30;
$padding-vertical-xl: $base * 43;

$transition: .2s;