// @import '../base/variables';
// @import '../base/mixins';

.btn {
  @include quicksand;

  margin: 0;
  padding: $base*3 $base*4;
  height: $base*11;
  border: 1px solid transparent;
  border-radius: 2px;
  background: none;
  font-size: 13px;
  font-weight: $fw-bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: $transition;
  cursor: pointer;
  &-group {
    display: inline-flex;
    &__get-started {
      margin-top: $base*14;
    }
    .btn {
      &:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  &-wrapper {
    margin-left: $base * 11;
    @media (max-width: $breakpoint-md-max) {
      margin-top: $base*6;
      margin-left: 0;
    }
  }
  &-primary {
    color: $color-primary;
    background-color: #d2e1ff;
    &:hover {
      background-color: darken(#d2e1ff, 3%);
    }
  }
  &-secondary {
    color: $color-white;
    background-color: $color-primary;
    path {fill: $color-white}
    &:hover {
      background-color: lighten($color-primary, 21%);
      path {fill: #5e81fe}
    }
    svg {
      margin-left: 5px;
    }
    &-inverted {
      background-color: $color-white;
      color: #565f82;
      &:hover {
        background-color: darken($color-white, 4%);
        color: darken(#565f82, 10%);
      }
    }
    &-newslatter {
      margin-left: $base*3;
      border-radius: 5px;
      width: $base*46;
      height: $base*15;
      font-size: 13px;
      &:hover {
        background-color: lighten($color-primary, 15%);
        color: darken(#565f82, 10%);
      }
    }
  }
  &-no-bg {
    color: $color-descr;
    border: 1px solid #d1d1e4;
    &:hover {
      background-color: darken(#d4e2fa, 3%);
    }
    &-inverted {
      border: 1px solid #a0b4ff;
      color: #c7d3ff;
      &:hover {
        background-color: lighten($color-primary, 2%);
        color: lighten(#c7d3ff, 10%);
      }
    }
  }
  &-danger {
    color: #d43f3f;
    background-color: #ffd7d7;
    &:hover {
      color: darken(#d43f3f, 7%);
      background-color: darken(#ffd7d7, 3%);
    }
  }
  &-hided {
    color: #a6b6da;
    &:hover {
      color: $color-primary;
      background-color: lighten(#d2e1ff, 6%);
    }
  }
  &-faq {
    width: $base*49;
    background-color: #e8ecf4;
    font-weight: $fw-medium;
    margin-top: $base*2;
    a {
      color: #7382A3;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__burger {
    display: none;
    border: none;
    background-color: transparent;
    margin-left: auto;
    &-line {
      display: block;
      width: $base*4;
      // height: $base/2;
      height: 2px;
      background-color: $color-descr;
      &+& {
        margin-top: $base;
      }
    }
    &:hover {
      text-decoration: none;
    }
    
    @media (max-width: $breakpoint-md-max) {
      display: block;
    }
  }
}