@import "./libs/normalise";
// @import "./libs/bootstrap-reboot.min";
// @import "./libs/bootstrap-grid.min";

@import url("https://fonts.googleapis.com/cs`s2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");

// === MIXIN === 
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}
@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}
@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}
// === / MIXIN === 


// === FUNCTIONS === 

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}

// === / FUNCTIONS === 


// === VARIABLES === 
$base: rem(4px);

$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
// $breakpoint-xs-min: 0;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fz-sm: rem(12px);
$fz-md: rem(13px);
$fz-md-to-l: rem(14px);
$fz-l: rem(15px);
$fz-xl: rem(18px);
$fz-subttl: rem(10px);
$fz-ttl-sm: rem(24px);
$fz-ttl-md: rem(36px);
$fz-ttl-l: rem(48px);

$color-white: #fff;
$bg-color: #f5f8ff;
$color-divider: #d8e3fe;
$color-icon_links: #b6bac7;
$color-descr: #8d96bd;
$color-primary: #5e81fe;
$color-ttl: #3d4f9f;

$transition: .2s;
// === / VARIABLES ===


// === COMMON ===
// html {
//   @media (max-width: $breakpoint-md-max) {
//     font-size: 14px;
//   }
//   @media (max-width: $breakpoint-sm-max) {
//     font-size: 12px;
//   }
// }
body {
  @include roboto;
}
.section-outer {
  padding: 0 $base*5;
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  margin: 0 auto;
  max-width: 900px;
  &--wide {
    max-width: 1200px;
  }
}

.vertical-indent {
  @mixin vertical-indent ($size) {
    padding-top: $size;
    padding-bottom: $size;
  }
  &-s {
    @include vertical-indent($base*5);
    .section-header & {
      @media (max-width: $breakpoint-sm-max) {
        @include vertical-indent($base*2);
      }
    }
  }
  &-m {@include vertical-indent($base*12)}
  &-l {@include vertical-indent($base*30)}
  &-xl {@include vertical-indent($base*43)}
  &-hero {padding-top: $base*23}

  @media (max-width: $breakpoint-lg-max) {
    &-xl {@include vertical-indent($base*29)}
  }
  @media (max-width: $breakpoint-md-max) {
    &-m {@include vertical-indent($base*13)}
    &-l {@include vertical-indent($base*19)}
  }
  @media (max-width: $breakpoint-sm-max) {
    &-m {@include vertical-indent($base*8)}
    &-l {@include vertical-indent($base*16)}
    &-xl {@include vertical-indent($base*19)}
    &-hero {padding-top: $base*19}
  }
}
.input {
  @include quicksand;
  border: 1px solid transparent;
  border-radius: $base;
  background-color: #efeff7;
  font-weight: $fw-bold;
  color: $color-ttl;
  &::placeholder {
    color: #7a85ad;
  }
  &-lg{
    width: $base*70;
    height: $base*15;
    padding-left: $base*6;
  }
}
.btn {
  @include quicksand;

  margin: 0;
  padding: $base*3 $base*4;
  height: $base*11;
  border: 1px solid transparent;
  border-radius: $base/2;
  background: none;
  font-size: $fz-md;
  font-weight: $fw-bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: $transition;
  cursor: pointer;
  &-group {
    display: inline-flex;
    .section-plan-and-manage__content & {
      margin-top: $base * 12;
    }
    &__get-started {
      margin-top: $base*11;
    }
    .btn {
      &:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  &-wrapper {
    margin-left: $base * 11;
    @media (max-width: $breakpoint-md-max) {
      margin-top: $base*6;
      margin-left: 0;
    }
  }
  &-primary {
    color: $color-primary;
    background-color: #d2e1ff;
    &:hover {
      background-color: darken(#d2e1ff, 3%);
    }
  }
  &-secondary {
    color: $color-white;
    background-color: $color-primary;
    path {fill: $color-white}
    &:hover {
      background-color: lighten($color-primary, 21%);
      path {fill: #5e81fe}
    }
    svg {
      margin-left: 5px;
    }
    &-inverted {
      background-color: $color-white;
      color: #565f82;
      &:hover {
        background-color: darken($color-white, 4%);
        color: darken(#565f82, 10%);
      }
    }
    &-newslatter {
      margin-left: $base*3;
      border-radius: $base;
      width: $base*46;
      height: $base*15;
      font-size: $fz-md;
      &:hover {
        background-color: lighten($color-primary, 15%);
        color: darken(#565f82, 10%);
      }
    }
  }
  &-no-bg {
    color: $color-descr;
    border: 1px solid #d1d1e4;
    &:hover {
      background-color: darken(#d4e2fa, 3%);
    }
    &-inverted {
      border: 1px solid #a0b4ff;
      color: #c7d3ff;
      &:hover {
        background-color: lighten($color-primary, 2%);
        color: lighten(#c7d3ff, 10%);
      }
    }
  }
  &-danger {
    color: #d43f3f;
    background-color: #ffd7d7;
    &:hover {
      color: darken(#d43f3f, 7%);
      background-color: darken(#ffd7d7, 3%);
    }
  }
  &-hided {
    color: #a6b6da;
    &:hover {
      color: $color-primary;
      background-color: lighten(#d2e1ff, 6%);
    }
  }
  &-faq {
    width: $base*49;
    background-color: #e8ecf4;
    font-weight: $fw-medium;
    margin-top: $base*2;
    a {
      color: #7382A3;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__burger {
    display: none;
    border: none;
    background-color: transparent;
    margin-left: auto;
    &-line {
      display: block;
      width: $base*4;
      height: $base/2;
      // height: 2px;
      background-color: $color-descr;
      &+& {
        margin-top: $base;
      }
    }
  }
  
  &:hover {
    text-decoration: none;
  }
  @media (max-width: $breakpoint-md-max) {
    &__burger {
      display: block;
    }
  }
  @media (max-width: $breakpoint-xs-max) {
    &-secondary {
      &-newslatter {
        margin-left: 0;
        margin-top: $base*7;
      }
    }
    &-faq {
      margin-top: $base*4;
    }
  }
}
.hide {
  display: none;
}
.ttl {
  @include quicksand;
  margin: 0;
  padding: 0;
  color: $color-ttl;
  font-weight: $fw-light;
  span {
    font-weight: $fw-medium;
  }
  &__big {
    font-size: $fz-ttl-md;
  }
  &__hero-image {
    font-size: $fz-ttl-l;
    margin-top: $base * 4;
  }
  &__get-started {
    margin-top: $base * 3;
  }
  &__sm {
    margin-top: $base * 5;
    text-align: center;
    font-size: $fz-ttl-sm;
    font-weight: $fw-medium;
  }
  &__blog {
    margin-top: -11px;
    font-size: $fz-ttl-md;
    line-height: $fz-ttl-md*1.2;
    font-weight: $fw-regular;
  }
  @media (max-width: $breakpoint-xs-max) {
    &__big {
      margin-top: $base*3;
      line-height: $fz-ttl-md*1.1;
    }
    &__sm {
      margin-top: $base * 3;
    }
    &__blog {
      margin-top: -$base;
    }
  }
}
.subttl {
  margin: 0;
  padding: 0;
  font-size: $fz-subttl;
  text-align: center;
  text-transform: uppercase;
  color: $color-ttl;
  font-weight: $fw-medium;
  &__plan-and-manage {
    margin-top: $base * 22;
    text-align-last: left;
  }
  &__customers {
    margin-top: $base*8;
    text-align-last: left;
  }
  @media (max-width: $breakpoint-xs-max) {
    &__plan-and-manage {
      margin-top: $base*13;
    }
    &__customers {
      margin-top: $base*2;
    }
  }
}
.dots {
  @include list-null;
  display: flex;
  justify-content: center;
  transition: $transition;
  &__item {
    width: $base*2;
    height: $base*2;
    border-radius: 100%;
    background-color: #d1d6e3;
    cursor: pointer;
    & + & {
      margin-left: $base*3;
    }
    &--active {
      background-color: $color-primary;
    }
  }
}
.text {
  font-size: $fz-l;
  font-weight: $fw-medium;
  line-height: 1.9;
  color: $color-descr;
  &-sm {
    font-size: $fz-sm;
  }

}
.white-text {
  color: $color-white;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
// === / COMMON ===


// === HEADER & FOOTER ===
.section-header {
  position: relative;
}
.section-footer {
  border-bottom: 0;
  @media (max-width: $breakpoint-md-max) {
    margin-top: $base*4;
  }
}
.main-navigation {
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-md-max) {
    .section-footer & {
      flex-direction: column;
    }

  }
  &__wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: $base * 18;

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
      margin-left: 0;
      .socials {
        margin-top: $base*4;
        margin-left: 0;
      }
    }
    .section-header & {
      @media (max-width: $breakpoint-md-max) {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 10;
        background-color: $color-white;
        margin-left: 0;
        padding: $base*5;
      }
    }
    .section-footer & {
      @media (max-width: $breakpoint-md-max) {
        margin-top: $base*4;
      }
    }
  }
}
.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: $color-primary;
  border-radius: 100%;
}
.nav {
  &-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      & + & {
        margin-left: $base * 10;
      }
      &-link {
        @include quicksand;
        font-size: $fz-sm;
        font-weight: $fw-medium;
        color: $color-descr;
        text-decoration: none;
        transition: $transition;
        &--active {
          font-weight: $fw-bold;
          color: $color-primary;
        }
        &:hover {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
    .section-footer & {
      @media (max-width: $breakpoint-xs-max) {
        &__item {
          margin: $base*2;
        }
      }
    }
  }
}
.socials {
  margin-left: auto;
  &-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      & + & {
        margin-left: $base * 9;
      }
      path {
        fill: $color-icon_links;
        transition: $transition;
        &:hover {
          fill: $color-primary;
        }
      }
    }
  }
}
.copyright {
  @include quicksand;
  margin-top: $base * 7;
  margin-left: $base * 24;
  font-size: $fz-sm;
  font-weight: $fw-medium;
  color: $color-icon_links;
  @media (max-width: $breakpoint-md-max) {
    margin-left: 0;
    text-align: center;
  }
}

// ===  / HEADER & FOOTER ===


// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  padding: 0;
  .dots {
    position: absolute;
    bottom: $base*7;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-hero-image {
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      background: url(../img/bg/hero-image.png) center center/cover no-repeat;
      height: $base * 140;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      .text {
        max-width: $base * 117;
        margin: $base*7 auto 0 auto;
        @media (max-width: $breakpoint-sm-max) {
          padding: 0 $base*3;
        }
      }
    }
  }
}
.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: $base*5 auto 0 auto;
  width: $base * 13;
  height: $base * 13;
  border-radius: 100%;
  background-color: $color-white;
  // box-shadow: 0 10px 50px rgba(#C9D1E7, .6);
  box-shadow: 0 $base*2 $base*12 rgba(#C9D1E7, .6);
  &::before {
    display: block;
    margin-left: $fz-md;
    width: 0;
    height: 0;
    content: '';
    border-color: transparent;
    border-width: 7px 12px;
    border-style: solid;
    border-left-color: $color-primary;

  }
  @media (max-width: $breakpoint-sm-max) {
    margin-top: $base*11;
  }
}
// === / HERO-IMAGE ===


// === CUSTOMERS ===
.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      opacity: .3;
      transition: $transition;
      &:hover {
        opacity: 1;
      }
    }
    @media (max-width: $breakpoint-sm-max) {
      flex-wrap: wrap;
      justify-content: space-around;
      a {
        padding: $base*4;
      }
    }
  }
}
// === / CUSTOMERS ===


// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  background-color: $bg-color;
  overflow: hidden;
  .section-inner {
    display: flex;
  }
  &__content {
    width: 43%;
    position: relative;
    .aside-image {
      position: absolute;
      top: 0;
      left: 73%;
    }
    .text {
      margin-top: $base * 7;
    }
  }
  @media (max-width: $breakpoint-xl-max) {
    .section-inner {
      margin-top: -$base*12;
    }
    &__content {
      width: 50%;
      .aside-image {
        left: 75%;
      }
    }
  }
  @media (max-width: $breakpoint-md-max) {
    .section-inner {
      margin-top: -$base*12;
    }
    &__content {
      width: 61%;
      .aside-image {
        left: 81%;
      }
    }
  }
  @media (max-width: $breakpoint-sm-max) {
    &__content {
      width: 68%;
      .aside-image {
        left: 67%;
      }
    }
  }
  @media (max-width: $breakpoint-xs-max) {
    &__content {
      .aside-image {
        left: 47%;
      }
    }
  }
}
// === / PLAN-AND-MANAGE ===


// === FIATURES ===
.section-fiatures {
  background: url(../img/bg/features-clouds.svg) center no-repeat;
  // background: url(../img/bg/features-clouds.svg) no-repeat 50% 50%;
  .btns {
    display: flex;
    justify-content: center;
    margin-top: $base*25;
    @media (max-width: $breakpoint-md-max) {
      margin-top: $base*16;
    }
  }
}
.features-list {
  @include list-null;
  display: flex;
  justify-content: space-around;
  margin-top: $base*19;
  text-align: center;
  
  &__item {
    position: relative;
    flex-basis: 15%;

    &:not(:first-child)::before {
      position: absolute;
      top: 71%;
      right: 123%;
      width: $base*7;
      height: 1px;
      background-color: $color-divider;
      content: '';
    }
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $base*17;
      height: $base*17;
      margin: 0 auto;
      border-radius: 100%;
      background-color: $bg-color;
    }
    &-ttl {
      margin-top: $base*8;
      font-size: $fz-l;
      font-weight: $fw-bold;
      color: $color-primary;
    }
    &-text {
      margin-top: $base*5;
      color: $color-descr;
      font-size: $fz-sm;
    }
  }
  @media (max-width: $breakpoint-sm-max) {
    margin-top: $base*16;
  }
  @media (max-width: $breakpoint-xs-max) {
    margin-top: $base*4;
    &__item {
      flex-basis: 43%;
      margin-top: $base*10;
      &-ttl {
        margin-top: $base*5;
      }
      &-text {
        margin-top: $base*3;
      }
      &::before {
        display: none;
      }
    }
    flex-wrap: wrap;
  }
}
.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 $base*4;
  font-size: $fz-sm;
  font-weight: $fw-medium;
  text-align: center;
  text-transform: uppercase;
  color: $color-descr;

  &::before, &::after {
    width: $base*4;
    height: 1px;
    content: '';
    background-color: #dae4fe;
  }
  &::before {margin-right: $base*4;}
  &::after {margin-left: $base*4;}
}
// === / FIATURES ===


// === STATS ===
.section-stats {
  display: flex;
  padding: 0;

  @include quicksand;

  &__left, &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: $base*16 $base*22;
  }
  &__left {
    background: linear-gradient(#6888FF, $color-primary);
    color: $color-white;
    text-align: right;
    align-items: flex-end;
  }
  &__right {
    background: linear-gradient(#e9efff, #E0E9FF);
    color: $color-primary;
  }
  // &__icon {}
  &__number {
    margin-top: $base*6;
    font-size: $fz-ttl-l;
    font-weight: $fw-regular;
  }
  &__text {
    width: 40%;
    margin-top: $base*6;
    font-size: $fz-xl;
    font-weight: $fw-medium;
  }
  @media (max-width: $breakpoint-xl-max) {
    &__left, &__right {
      padding: $base*16 $base*18 $base*12 $base*18;
    }
    &__text {
      width: 73%;
    }
  }
  @media (max-width: $breakpoint-md-max) {
    &__left, &__right {
      padding: $base*14 $base*15 $base*11 $base*15;
    }
    &__text {
      width: 90%;
      margin-top: $base*4;
    }
  }
  @media (max-width: $breakpoint-sm-max) {
    &__text {
      width: 94%;
    }
  }
  @media (max-width: $breakpoint-xs-max) {
    &__left, &__right {
      padding: $base*7;
    }
    &__text {
      width: 100%;
    }
  }
}
// === / STATS ===


// === BLOG ===
.section-blog {
  padding: $base*23 0;
  background-color: $bg-color;
  .dots {
    margin-top: $base*25;
  }
  @media (max-width: $breakpoint-lg-max) {
    .dots {
      margin-top: $base*18;
    }
  }
  @media (max-width: $breakpoint-md-max) {
    padding: $base*17 0;
    .dots {
      margin-top: $base*13;
    }
  }
  @media (max-width: $breakpoint-sm-max) {
    padding: $base*17 0;
    .dots {
      margin-top: $base*8;
    }
  }
}
.slider {
  &-wrapper {
    position: relative;
    margin: $base*23 auto 0 auto;
    max-width: 958px;
  }
  &-blog {
    @include list-null;

    max-width: 98%;
    margin: auto;
    background-color: $color-white;
    border: 1px solid $color-divider;
    box-shadow: 0 $base*4 $base*25 #eff4ff;

    &__arrow {
      position: absolute;
      top: 50%;
      display: block;
      width: $base*10;
      height: $base*10;
      background: url(../icons/blog-arrow.svg) no-repeat 50% 50%;
      &__prev {
        right: 100%;
        transform: translateY(-50%);
        margin-right: $base*14;
      }
      &__next {
        left: 100%;
        transform: translateY(-50%) rotate(180deg);
        margin-left: $base*14;
      }
      @media (max-width: $breakpoint-md-max) {
        display: none;
      }
    }
    &__item {
      display: flex;
      // justify-content: space-between;
      padding: $base*16 $base*10 $base*16 $base*8;
      max-width: 100%;
      &-gallery {
        display: grid;
        grid-template-rows: repeat(2, $base*32);
        grid-template-columns: repeat(3, $base*32);
        // grid-template-rows: repeat(2, 1fr);
        // grid-template-columns: repeat(3, 1fr);
        grid-gap: $fz-md;
        margin-left: 1%;

        .image-link {
          position: relative;
          border-radius: $base;
          overflow: hidden;
          box-shadow: 0 $fz-l $base*25 #e5ebf8;
          &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: $base*16;
            height: $base*16;
            content: '';
            background: $color-white url(../icons/blog-zoom.svg) no-repeat 50% 50%;
            border-radius: 100%;
            opacity: 0;
            transition: $transition;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
          &--b {
            grid-row: 1 / 3;
            grid-column: 1 / 3;
            &::before {
              background: linear-gradient(transparent, rgba(255, 257, 194, 0.93));
            }
          }
          &--s1 {
            grid-row: 1 / 2;
            grid-column: 3 / 4;
            &::before {
              background: linear-gradient(transparent, rgba(255, 53, 53, 0.33));
            }
          }
          &--s2 {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
            &::before {
              background: linear-gradient(transparent, rgba(53, 170, 255, 0.62));
            }
          }
          &:hover::after {
            opacity: 1;
          }
        }
      }
      &-content {
        flex-grow: 1;
        margin-left: $base*13;
      }
      .text {
        margin-top: $base*8;
      }
      .btns {
        display: flex;
        margin-top: $base*9;
      }
    }
  }
  @media (max-width: $breakpoint-xl-max) {
    &-blog {
      &__arrow {
        &__prev, &__next {
          display: none;
        }
      }
    }
  }
  @media (max-width: $breakpoint-md-max) {
    &-wrapper {
      margin-top: $base*15;
    }
    &-blog {
      max-width: 90%;
      &__item {
        flex-direction: column;
        align-items: flex-start;
        padding: $base*10 $base*8;
        &-gallery {
          max-width: 55%;
          grid-template-rows: repeat(1,  1fr);
          grid-template-columns: repeat(3,  1fr);
          grid-gap: $fz-subttl;
          .image-link {
            &--b {
              grid-row: 1 / 2;
              grid-column: 1 / 2;
            }
            &--s1 {
              grid-row: 1 / 2;
              grid-column: 2 / 3;
            }
            &--s2 {
              grid-row: 1 / 2;
              grid-column: 3 / 4;
            }
          }
        }
        &-content {
          position: relative;
          z-index: 5;
          margin: $base*6 0 0 0;
          .text {
            margin-top: $base*5;
          }
        }
        .btns {
          margin-top: $base*7;
        }
      }
    }
  }
  @media (max-width: $breakpoint-sm-max) {
    &-wrapper {
      margin-top: $base*10;
    }
    &-blog {
      max-width: 80%;
      &__item {
        flex-direction: column;
        align-items: flex-start;
        padding: $base*6 $base*5;
        .btns {
          margin-top: $base*10;
        }
        &-gallery {
          max-width: 65%;
          margin-left: $base*2;
        }
      }
    }
  }
  @media (max-width: $breakpoint-xs-max) {
    &-blog {
      max-width: 90%;
      &__item {
        align-items: center;
        &-gallery {
          max-width: 100%;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(3, 1fr);
          margin-left: 0;
          .image-link {
            &--b {
              grid-row: 1 / 3;
              grid-column: 1 / 3;
            }
            &--s1 {
              grid-row: 1 / 2;
              grid-column: 3 / 4;
            }
            &--s2 {
              grid-row: 2 / 3;
              grid-column: 3 / 4;
            }
          }
        }
      }
    }
  }
}
// === / BLOG ===


// === QUOTES ===
.section-quotes {
  background: linear-gradient(#eaebff, #f6f9ff);
  .section-inner {
    display: flex;
    justify-content: space-between;
  }
  &__left, &__right {
    flex-basis: 45%;
  }
  .text {
    margin-top: $base*3;
    width: $base*70;
  }
  .dots {
    margin-top: $base*20;
  }

  @media (max-width: $breakpoint-md-max) {
    &__left, &__right {
    flex-basis: 47%;
    }
  }
  @media (max-width: $breakpoint-sm-max) {
    .dots {
      margin-top: $base*17;
    }
  }
  @media (max-width: $breakpoint-xs-max) {
    .section-inner {
      flex-direction: column;
    }
    .dots {
      margin-top: $base*15;
    }
  }
}

.slider-quotes {
  @include list-null;

  &__item {
    position: relative;
    max-width: $base*106;
    min-height: $base*44;
    padding: $base*10 $base*17 $base*15 $base*17;
    background-color: $color-white;
    border: 1px solid $color-divider;
    box-shadow: 0 $base $base*12 #f3f5fa;
    &-text{
      font-size: $fz-md-to-l;
      color: #676f95;
      line-height: 1.9;
    }
    &-photo {
      // $height: $base*16;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      // width: $height;
      // height: $height;
      width: 64px;
      height: 64px;
      overflow: hidden;
      background-color: $color-white;
      border-radius: 100%;
      img {
        min-width: 100%;
        max-width: 100%;
      }
    }
  } 
  @media (max-width: $breakpoint-md-max) {
    &__item {
      padding: $base*7 $base*9 $base*10 $base*9;
    }
  }
  @media (max-width: $breakpoint-xs-max) {
    margin-top: $base*8;
  }
}
// === / QUOTES ===


// === FAQ ===
.section-faq {
  .section-inner {
    max-width: $base*186;
    margin: 0 auto;
  }
}

.faq-accordeon {
  @include list-null;

  margin-top: $base*16;
  &__item {
    $parent: &;
    border-bottom: 1px solid #b8e3fe;

    &--active {
      #{$parent}-trigger {
        &-icon {
          transform: rotate(0deg);
          .arrow {
            stroke: #495274;
          }
        }
        &-text {
          color: #495274;
          font-size: $fz-l;
          font-weight: $fw-bold;
        }
      }
      #{$parent}-content {
        display: flex;
      }
    }

    &-trigger {
      @include quicksand;
      display: flex;
      padding: $base*4;
      cursor: pointer;
      &-icon {
        margin: 0 $base*6 0 $base*4;
        transform: rotate(180deg);
        .arrow {
          stroke: $color-descr;
        }
      }
      &-text {
        color: $color-descr;
        font-size: $fz-l;
        font-weight: $fw-medium;
      }
    }
    &-content {
      display: none;
      padding: 0 $base*4 $base*11 0;
      &-text {
        max-width: $base*99;
        margin: 0 $base*15 0 $base*23;
        font-size: $fz-md-to-l;
        font-weight: $fw-regular;
        line-height: 1.9;
        color: $color-descr;
      }

      @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
        align-items: center;
        padding: 0 0 $base*7 0;
        &-text {
          margin: 0 $base*2 0 $base*7;
          max-width: 93%;
        }
      }
    }
  }
}
// === / FAQ ===



// === GET-STARTED ===
.section-get-started {
  position: relative;
  background: linear-gradient(#6888ff, $color-primary);
  text-align: center;
  .section-inner {
    position: relative;
    padding: $base*13 0;
    z-index: 10;
  }
  &::before{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bg/get-started__clouds.svg) no-repeat 50% 50%;
    content: '';
  }
}
.get-started {
  &__text {
    margin: $base*4 auto 0 auto;
    max-width: 60%;
    font-size: $fz-l;
    font-weight: $fw-regular;
    line-height: 2;
    @media (max-width: $breakpoint-xs-max) {
      max-width: 90%;
    }
  }
}
// === / GET-STARTED ===

// === NEWSLATTER ===
.section-newslatter {
  background-color: #fcfdff;
  .section-inner{
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__left {
    flex-basis: 35%;
    &-ttl {
      @include quicksand;
      font-size: $fz-xl;
      color: $color-ttl;
      font-weight: $fw-bold;
    }
    .text {
      margin-top: $base*4;
      max-width: $base*82;
    }
  }
  &__right {
    flex-basis: 55%;
    margin-top: $fz-xl;

    @media (max-width: $breakpoint-md-max) {
      margin-top: $base*8;
    }
  }
}
.form-newslatter {
  display: flex;
  @media (max-width: $breakpoint-xs-max) {
    flex-direction: column;
    align-items: center;
  }
}
// === / NEWSLATTER ===

// 2:03