@import "./libs/normalise";
@import "./libs/bootstrap-reboot.min";
@import "./libs/bootstrap-grid.min";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
// скачанный quicksand - 300тонкий

// === MIXIN === 
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}
@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}
@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}
// === / MIXIN === 


// === VARIABLES === 
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fz-sm: 12px;
$fz-md: 15px;
$fz-ttl-sm: 24px;
$fz-ttl-md: 36px;
$fz-ttl-l: 48px;

$color-divider: #d8e3fe;
$bg-color: #f5f8ff;

$color-primary: #5e81fe;
$color-text_links: #697ca6;
$color-icon_links: #b6bac7;
$color-ttl: #3d4f9f;
$color-descr: #8d96bd;


$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 12;
$padding-vertical: $base * 30;
$padding-vertical-xl: $base * 43;

$transition: .2s;
// === / VARIABLES ===


// === COMMON === 
body {
  @include roboto;
}
.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  margin: 0 auto;
  padding: $padding-vertical 0;
  max-width: 900px;
  &--wide {
    max-width: 1200px;
  }
}
.btn {
  @include quicksand;

  margin: 0;
  padding: $base*3 $base*4;
  border: 1px solid transparent;
  border-radius: 2px;
  background: none;
  font-size: $fz-sm;
  font-weight: $fw-bold;
  text-decoration: none;
  transition: $transition;
  &-group {
    display: inline-flex;
    .btn {
      &:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  &-header {
    margin-left: $base * 11;
  }
  &:hover {
    text-decoration: none;
  }
  &-primary {
    color: #3a79ff;
    background-color: #d2e1ff;
    &:hover {
      background-color: darken(#d4e2fa, 3%);
    }
  }
  &-secondary {
    color: #fff;
    background-color: #4c85ff;
    path {fill: #fff}
    &:hover {
      background-color: lighten(#4c85ff, 25%);
      path {fill: #0045b3}
    }
    svg {
      margin-left: 5px;
    }
  }
  &-no-bg {
    color: $color-descr;
    border: 1px solid #d1d1e4;
    &:hover {
      background-color: darken(#d4e2fa, 3%);
    }
  }
  &-danger {
    color: #d43f3f;
    background-color: #ffd7d7;
    &:hover {
      background-color: darken(#d4e2fa, 3%);
    }
  }
}
.hide {
  display: none;
}
.ttl {
  @include quicksand;
  margin: 0;
  padding: 0;
  color: $color-ttl;
  font-weight: $fw-light;
  &__hero-image {
    font-size: $fz-ttl-l;
    margin-top: $base * 4;
  }
  span {
    font-weight: $fw-medium;
  }
  &__plan-and-manage {
    font-size: $fz-ttl-md;
    margin-top: $base * 7;
  }
  &__sm {
    margin-top: $base * 5;
    text-align: center;
    font-size: $fz-ttl-sm;
    font-weight: $fw-medium;
  }
}
.subttl {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $color-ttl;
  font-weight: $fw-medium;
  &__plan-and-manage {
    margin-top: $base * 22;
    text-align-last: left;
  }
}
.dots {
  @include list-null;
  display: flex;
  justify-content: center;
  transition: $transition;
  &__item {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #d1d6e3;
    cursor: pointer;
    & + & {
      margin-left: $base*3;
    }
    &--active {
      background-color: $color-primary;
    }
  }
}
.text {
  font-size: 15px;
  font-weight: $fw-regular;
  line-height: 1.9;
  color: $color-descr;
}
// === / COMMON ===


// === HEADER ===
.section-header {
  .section-inner {
    padding: $padding-vertical-xs 0;
  }
}
.main-navigation {
  display: flex;
  align-items: center;
}
.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: $color-primary;
  border-radius: 100%;
}
.nav {
  margin-left: $base * 18;
  &-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      & + & {
        margin-left: $base * 10;
      }
      &-link {
        @include quicksand;
        font-size: $fz-sm;
        font-weight: $fw-medium;
        color: $color-text_links;
        text-decoration: none;
        transition: $transition;
        &--active {
          font-weight: $fw-bold;
          color: $color-primary;
        }
        &:hover {
          color: #5e81fe;
          text-decoration: none;
        }
      }
    }
  }
}
.socials {
  margin-left: auto;
  &-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      & + & {
        margin-left: $base * 9;
      }
      path {
        fill: $color-icon_links;
        transition: $transition;
        &:hover {
          fill: $color-primary;
        }
      }
    }
  }
}

// ===  / HEADER ===


// === HERO-IMAGE ===
.section-hero-image {
  background-color: #f4f7ff;
  position: relative;
  .dots {
    position: absolute;
    bottom: $base*7;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-hero-image {
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      background: url(../img/bg/hero-image.png);
      padding-top: $base * 23;
      height: $base * 140;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      .text {
        width: $base * 117;
        margin: 28px auto 0 auto;
      }
    }
  }
}
.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: $base*5 auto 0 auto;
  width: $base * 13;
  height: $base * 13;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(#C9D1E7, .6);
  &::before {
    display: block;
    margin-left: 15px;
    width: 0;
    height: 0;
    content: '';
    border-color: transparent;
    border-width: 7px 12px;
    border-style: solid;
    border-left-color: $color-primary;

  }
}
// === / HERO-IMAGE ===


// === CUSTOMERS ===
.section-customers {
  .section-inner {
    padding: $padding-vertical-sm 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // fill active (hover) #5982E7
    // passive - #D6DAE5 (at start)
    a {
      opacity: .3;
      transition: $transition;
      &:hover {
        opacity: 1;
      }
    }
    
  }
}
// === / CUSTOMERS ===


// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  background-color: $bg-color;
  overflow: hidden;
  .section-inner {
    display: flex;
  }
  &__content {
    width: 50%;
    position: relative;
    .aside-image {
      position: absolute;
      top: 0;
      left: 64%;
    }
    .text {
      margin-top: $base * 7;
      width: $base * 97;
    }
    .btn-group {
      margin-top: $base * 12;
    }
  }
}
// === / PLAN-AND-MANAGE ===


// === FIATURES ===
.section-fiatures {
  background: url(../img/bg/features-clouds.svg) center no-repeat;
  // background: url(../img/bg/features-clouds.svg) no-repeat 50% 50%;
  .section-inner {
    padding: $padding-vertical-xl 0;
  }
  .btns {
    display: flex;
    justify-content: center;
    margin-top: $base*25;
  }
}
.features-list {
  @include list-null;
  display: flex;
  justify-content: space-around;
  text-align: center;
  
  &__item {
    position: relative;
    flex-basis: 15%;

    &:not(:first-child)::before {
      position: absolute;
      top: 71%;
      right: 123%;
      width: 28px;
      height: 1px;
      background-color: #dae4fe;
      content: '';
    }
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $base*17;
      height: $base*17;
      margin: $base*23 auto 0 auto;
      border-radius: 100%;
      background-color: $bg-color;
    }
    &-ttl {
      margin-top: $base*8;
      font-size: $fz-md;
      font-weight: $fw-bold;
      color: #4074f8;
    }
    &-text {
      margin-top: $base*5;
      color: #adb3cb;
      font-size: $fz-sm;
    }
  }
}
.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 $base*4;
  font-size: $fz-sm;
  font-weight: $fw-medium;
  text-align: center;
  text-transform: uppercase;
  color: #adb3cb;

  &::before, &::after {
    width: $base*4;
    height: 1px;
    content: '';
    background-color: #dae4fe;
  }
  &::before {margin-right: $base*4;}
  &::after {margin-left: $base*4;}
}
// === / FIATURES ===


// === STATS ===
.section-stats {
  display: flex;
  background-color: #e9efff;

  @include quicksand;

  &__left, &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: $base*16 $base*22;
  }
  &__left {
    background-color: #6888ff;
    color: #fff;
    text-align: right;
    align-items: flex-end;
  }
  &__right {
    background-color: #e9efff;
    color: #5f80ff;
  }
  // &__icon {}
  &__number {
    margin-top: $base*6;
    font-size: $fz-ttl-l;
    font-weight: $fw-regular;
  }
  &__text {
    width: 50%;
    margin-top: $base*6;
    font-size: 18px;
    font-weight: $fw-medium;

  }
}
// === / STATS ===


// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
  .dots {
    margin-top: $base*25;
  }
}
.slider-blog {
  @include list-null;
  margin-top: $base*23;
  background-color: #fff;
  border: 1px solid d8e3fe;
  &__item {
    padding: $base*16 $base*8;
  }
}
// === / BLOG ===


// === QUOTES ===
.section-quotes {
  background-color: #eaf0ff;
}
// === / QUOTES ===


// === GET-STARTED ===
.section-get-started {
  background-color: #6888ff;
}
// === / GET-STARTED ===


// === FAQ ===
.section-faq {

}
// === / FAQ ===


// === NEWSLATTER ===
.section-newslatter {
  background-color: #fcfdff;
}
// === / NEWSLATTER ===


// === FOOTER ===
.section-footer {
  border-bottom: 0;
  .section-inner {
    padding: $padding-vertical-sm 0;
  }
}
.copyright {
  @include quicksand;
  margin-top: $base * 7;
  margin-left: $base * 24;
  font-size: $fz-sm;
  font-weight: $fw-medium;
  color: $color-icon_links;
}
// === / FOOTER ===
// 28:37